<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Omer\Contact\Api\Data\ContactInterface" type="Omer\Contact\Model\Contact" />

    <type name="Omer\Contact\Model\ResourceModel\Contact\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">omer_contact</argument>
            <argument name="eventPrefix" xsi:type="string">omer_contact_comment_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">comment_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Omer\Contact\Model\ResourceModel\Contact</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="omer_contact_listing_data_source" xsi:type="string">Omer\Contact\Model\ResourceModel\Contact\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="ContactMessageGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ContactMessageGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Omer\Contact\Model\ResourceModel\Contact\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ContactMessageGridFilterPool</argument>
        </arguments>
    </virtualType>

</config>