<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Omer\Contact\Api\Data\ContactInterface" type="Omer\Contact\Model\Contact" />

    <type name="Omer\Contact\Model\ResourceModel\Contact\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">omer_contact</argument>
            <argument name="eventPrefix" xsi:type="string">omer_contact_comment_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">comment_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Omer\Contact\Model\ResourceModel\Contact</argument>
        </arguments>
    </type>
</config>