<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Omer_Contact::general"
             title="Contact Us"
             module="Omer_Contact"
             sortOrder="9999"
             resource="Magento_Backend::content" />

         <add id="Omer_Contact::message"
             title="Contact Us Messages"
             module="Omer_Contact"
             sortOrder="0"
             action="omercontact/message"
             parent="Omer_Contact::general"
             resource="Omer_Contact::message" />
    </menu>
</config>
